*{
    margin: 0px;
    padding: 0px;
}
.head{
    
    width: 100%;
    height: 72px;
    background: red;
}
.tab{
    width: 100%;
    height: 424px;
    background: blue;
}
.content1{
    width: 100%;
    height: 547px;
    background:yellow;
}
.content2{
    width: 100%;
    height: 400px;
    background: green;
}
.content3{
    width: 100%;
    height: 439px;
    background: orange;
}
.foot{
    width: 100%;
    height: 56px;
    background: black;
}